* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #222222;
    color: white;
    height: 100px;
    width: 100vw;
    display:flex;
    justify-content: space-between;

}

.header-1{
    display: flex;
    padding-left: 20px;
    }

    .header-h2{
        padding-top: 30px;
        padding-left: 15px;

    }

    .span-pizza{
        color:#39b24a;
            }

    .span-E {
        color:white;
    }

    .Front{
        color:red;
    }

    .menu{
        display: flex;
        padding: 35px 20px;

    }

    .menu p{
        padding-left: 15px;
    }

    .pai{
        border: 5px solid red;
        display: flex;
        flex-direction: row;  
        justify-content:center;   
    }

    .container1{
        border: 5px solid blue;
        width:50%; 
        display: flex;
        flex-direction: column; 
    }

    .card1{
        display: flex;
        justify-content:center;
        text-align: center;
        border: 5px solid green;
        width: 100%;
        font-size: 0.8rem;
        margin-top:10px;
    }     

    .moto{
        width:100%;
        height:auto;

    }

    .card2{
        width:50%;
        border: 5px solid pink;
        display: flex;
        flex-direction: column;  
        align-items: center; 
        justify-content: center;
        padding:10px;
    }

    .elementos{
        
        display: flex;
        justify-content:space-around;
        align-items:center;
        width: 100%;
    }
        
    .pizzafalling{
            max-width: 100%;
            max-height: 50%;
           
    } 
        


    .footer{

        background-color: #222222;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        width: 100%;

    }

    



   